services:
  mysql:
    image: mysql:9.3.0
    container_name: mysql
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-password}
      MYSQL_DATABASE: ${DB_NAME:-teacher-bo}
      MYSQL_USER: ${DB_USER:-user}
      MYSQL_PASSWORD: ${DB_PASSWORD:-password}
    env_file:
      - .env

  redis-stack:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6380:6379"
      - "8001:8001" # RedisInsight web UI
    volumes:
      - redis-data:/data
    restart: always
    environment:
      - REDIS_ARGS=--requirepass ${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}
    env_file:
      - .env

volumes:
  mysql-data:
  redis-data:
