services:
  redis-stack:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6380:6379"
      - "8001:8001" # RedisInsight web UI
    volumes:
      - redis-data:/data
    restart: always
    environment:
      - REDIS_ARGS=--requirepass ${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}
    env_file:
      - .env

volumes:
  redis-data:
