[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = ">=0.0.20"
langchain-openai = ">=0.1.0"
langchain-core = ">=0.1.0"
langchain-redis = "*"
tiktoken = "*"
sentence-transformers = "*"
torch = "*"
faiss-cpu = "*"
langchain-google-genai = "*"
google-generativeai = "*"
langchain = "*"
openai = "*"
redis = "*"
python-dotenv = "*"
pdfplumber = "*"
pytesseract = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"
