[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.109.0"
python-multipart = "==0.0.6"
torch = ">=2.6.0"
numpy = ">=1.24.3"
pydantic = ">=2.10.0"
silero-vad = "==5.1.2"
uvicorn = {extras = ["standard"], version = "==0.27.0"}

[dev-packages]

[requires]
python_version = "3.13"
