option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    RootVolumeType: gp2
    RootVolumeSize: "25"
  aws:elasticbeanstalk:application:environment:
    TMPDIR: /var/tmp
commands:
  01_set_tmpdir:
    command: "export TMPDIR=/var/tmp"